[Unit]
Description=Gündüz modu: %80 parlaklık

[Service]
Type=oneshot
ExecStart=%h/.local/bin/brightness-set.sh 80

[Install]
WantedBy=default.target
